h2 {
    font-size: 70px;
    color: #0000FF;
    font-weight: 800;
    font-family: Arial,'arial narrow',sans-serif ;
}
body {
    background: #99FFFF;
}
td {
    border-top-width: 1px;
    border-top-color: #000080;
    background: #FFFFFF;
}
.message {
    font-size: 40px;
    font-weight: 900;
}
.button {
    color: #FFFFFF;
    background: #CC66CC;
}
.del{
    color: #a52a2a;
    background: #ffc0cb;
}
