h2 {
    font-size: 70px;
    color: #0000FF;
    font-weight: 800;
    font-family:'Gungsuh';
}
body {
    background: #99FFFF;
}
td {
    border-top-width: 1px;
    border-top-color: #000080;
    background: #FFFFFF;
}
.message {
    font-size: 40px;
    font-weight: 900;
    font-family:'Gungsuh';
}
.button {
    color: #FFFFFF;
    background: rgba(241, 0, 241, 0.671);
}
.del{
    color: #fa0202;
    background: #ffc0cb;
}
